@model IEnumerable<OnlineMarket.ViewModels.ProductsShortViewModel>
@{
    /**/

    ViewBag.Title = "Index";
}

<h2>All Products!</h2>

<div class="container" style="margin-top:3%;">
    <div class="col-md-offset-10">
        @Html.ActionLink("Add a Product!", "AddProduct", "Products", new { @class = "btn btn-success", })
    </div>
</div>


@using (Html.BeginForm("SearchByName", "Products", FormMethod.Get))
{
    <form>
        <p>
            <input type="text" name="search">
            <input type="submit" value="Filter" />
        </p>
    </form>
}
@using (Html.BeginForm("Index", "Products", FormMethod.Get, new { enctype = "multipart/form-data" }))
{


    <table class="table table-striped" style="margin-top: 5%">
        <thead>
            <tr class="row">
                <th>Image</th>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr class="row">
                    <th>
                        @if (product.ImageData != null)
                        {
                            <div class ="pull-left" style="margin-right: 10px">
                                <img class="img-thumbnail" width="75" height="75"
                                     src="@Url.Action("GetImage", "Products",
                                new { product.Id })" />
                            </div>
                        }
                     </th>
                    <th>@product.Name</th>
                    <th>@product.Category.Name</th>
                    <th>@product.Price</th>

                    <th>@Html.ActionLink("Details!", "ProductDetails", "Products", new { Id = product.Id }, new { @class = "btn btn-dark col-md-offset-3 " })</th>
                    <th>@Html.ActionLink("Delete!", "DeleteProduct", "Products", new { Id = product.Id }, new { @class = "btn btn-danger  " })</th>

                    <th>@Html.ActionLink("Update!", "UpdateProduct", "Products", new { Id = product.Id }, new { @class = "btn btn-info " })</th>
                </tr>
            }
        </tbody>
    </table>
}