@model OnlineMarket.DataModels.Models.Product
@{
    ViewBag.Title = "Product Details";
}

<div class="well col-xs-12">

    <div class=" col-xs-8 ">
        <div class="text-center h3">
            <dt> @Model.Name</dt>
        </div>

        <div class="text-center" style="margin-right: 10px">
            <img class="img-thumbnail" width="400" height="400"
                 src="@Url.Action("GetImage", "Products",
                                new { Model.Id })" />
        </div>

        <div class=" h4" style="margin-top: 20px">
            <dt>Description:</dt>
        </div>

        <div class="well h5" style="margin-top: 10px">
            @Model.Description
        </div>
    </div>

    
    <div class=" col-xs-4 text-center">
        <div class="well" style="margin-bottom: 70px">
            @Html.ActionLink("Delete!", "DeleteProduct", "Products", new { id = Model.Id }, new { @class = "btn btn-danger", @style = "margin-right: 30px;" })

            @Html.ActionLink("Edit!", "UpdateProduct", "Products", new { id = Model.Id }, new { @class = "btn btn-info " })

            <div class="row text-center">
                @using (Html.BeginForm("AddToCart", "Cart"))
                {
                    <div>
                        @Html.HiddenFor(x => x.Id)
                        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                        <input type="submit" class="btn btn-success" value="Add to cart" />
                    </div>
                }
            </div>
        </div>

        <h2><dt>Price</dt><span class=" label label-success">@Model.Price.ToString("c")</span></h2>

        <h2 style="margin-top: 50px"><dt>Quantity in stock</dt><span class=" label label-primary">@Model.QuantityInStock</span></h2>
    </div>


</div>