@model IEnumerable<OnlineMarket.ViewModels.ProductsShortViewModel>
@{
    ViewBag.Title = "Search";
}

<h2>Search!</h2>


@using (Html.BeginForm("SearchByName", "Products", FormMethod.Get))
{


    <table class="table table-striped" style="margin-top: 5%">
        <thead>
            <tr class="row">
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr class="row">
                    <th>@product.Name</th>
                    <th>@product.Category.Name</th>
                    <th>@product.Price</th>

                    <th>@Html.ActionLink("Details!", "ProductDetails", "Products", new { Id = product.Id }, new { @class = "btn btn-dark col-md-offset-3 " })</th>
                    <th>@Html.ActionLink("Delete!", "DeleteProduct", "Products", new { Id = product.Id }, new { @class = "btn btn-danger  " })</th>

                    <th>@Html.ActionLink("Update!", "UpdateProduct", "Products", new { Id = product.Id }, new { @class = "btn btn-info " })</th>
                </tr>
            }
        </tbody>
    </table>
}