@model IEnumerable<OnlineMarket.DataModels.Models.Category>
@{
    ViewBag.Title = "Index";
}

<h2>All Categories!</h2>

<div class="container" style="margin-top:3%;">
    <div class="col-md-offset-10">
        @Html.ActionLink("Add a Category!", "AddCategory", "Categories", new { @class = "btn btn-success" })
    </div>
</div>

    <table class="table table-striped" style="margin-top: 5%">
        <thead>
            <tr class="row" >
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
            <tr class="row">
                <th>@category.Id</th>
                <th class="col-lg-8">@category.Name</th>
                <th>@Html.ActionLink("Delete!", "DeleteCategory", "Categories", new { Id = category.Id }, new { @class = "btn btn-danger col-md-offset-6 " })</th>
                
                <th>@Html.ActionLink("Update!", "UpdateCategory", "Categories", new { Id = category.Id }, new { @class = "btn btn-info " })</th>
            </tr>
            }
        </tbody>
</table>